# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Environment files
.env

# Go workspace file
go.work

# Dependencies
vendor/

# IDE and Editor directories
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
